MONGO_USERNAME=user
MONGO_PASSWORD=password
JWT_SECRET=XhXH96vnxEAD1i53Jk+1w9/5RwMqjYXEZlGJUmj7udU=

$env:MONGO_USERNAME="user"
$env:MONGO_PASSWORD="password"
$env:JWT_SECRET="XhXH96vnxEAD1i53Jk+1w9/5RwMqjYXEZlGJUmj7udU="

.\mvnw.cmd spring-boot:run